body {
    background-color: #DD00FF;
    animation-name: Damireesh;
    animation-duration: 26s;
    animation-iteration-count: infinite;
}

@keyframes Damireesh {
    0%{
        background-color: #DD00FF;
    }
    25%{
        background-color: #FF47B3;
    }
    50%{
        background-color: #00FFAB;
    }
    75%{
        background-color: #FF0080;
    }
    100%{
        background-color: #DD00FF;
    }
}

#heading {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Bokor';
    font-size: 64px;
    margin-left: 10px;
}

#text {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 30px;
    margin-left: 100px;
    margin-top: 20px;
}

#home {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    margin-left: 10px;
    margin-top: 50px;
}

#download {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    margin-left: 80px;
    margin-top: 33px;
}

#contact-us {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    margin-left: 190px;
    margin-top: 15px;
}

#blog {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    margin-left: 10px;
    margin-top: 30px;
}

#registration {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    margin-left: 60px;
    margin-top: 12px;
}

#login {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    margin-left: 140px;
    margin-top: -6px;
}

#heading-2 {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: "Actor";
    font-size: 22px;
    margin-left: 10px;
    margin-top: 135px;
}

#down-heading {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Bokor';
    font-size: 64px;
    margin-left: 10px;
    margin-top: -15px;
}

#down-heading-2 {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 30px;
    margin-left: 100px;
    margin-top: 5px;
}

#youtube {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 10px;
}

#instagram {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    text-decoration: none;
    margin-top: 80px;
    margin-left: 10px;
}

#twitter {
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Actor';
    font-size: 22px;
    color: #000;
    text-decoration: none;
    margin-top: 110px;
    margin-left: 10px;
}

#down-text {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Actor";
    font-size: 22px;
    margin-top: 150px;
}

.inputText {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-family: 'Actor';
    background-color: #FF0080;
    color: #000;
    background: #fff;
    margin-left: 10px;
    margin-top: 30px;
}

.submitForm {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-family: 'Actor';
    background-color: #FF0080;
    width: 100px;
    height: 50px;
    margin-left: 280px;
    margin-top: 23px;
}

h1 {
    font-size: 22px;
    font-family: 'Actor';
    color: #000;
    margin-left: 10px;
    margin-top: 10px;
}

.heading-10 {
    font-size: 22px;
    font-family: 'Actor';
    color: #000;
    margin-left: 10px;
    margin-top: 10px;
}

.heading-11 {
    font-size: 22px;
    font-family: 'Actor';
    color: #000;
    margin-left: 150px;
    margin-top: -47px;
}

.heading-12 {
    font-size: 22px;
    font-family: 'Actor';
    color: #000;
    margin-left: 10px;
    margin-top: -10px;
}

.heading-13 {
    position: absolute;
    font-size: 22px;
    font-family: 'Actor';
    color: #000;
    margin-left: 150px;
    margin-top: -50px;
}

.heading-13:hover {
    color: #FFAB00;
}

.line-1 {
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: #000;
    margin-top: -100px;
}

.line-2 {
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: #000;
    margin-top: -10px;
}

.line-3 {
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: #000;
    margin-top: -55px;
}

.line-4 {
    position: absolute;
    width: 1px;
    height: 90px;
    background-color: #000;
    margin-top: -100px;
}

.line-5 {
    position: absolute;
    width: 1px;
    height: 90px;
    background-color: #000;
    margin-top: -100px;
    margin-left: 140px;
}

.line-6 {
    position: absolute;
    width: 1px;
    height: 90px;
    background-color: #000;
    margin-top: -100px;
    margin-left: 270px;
}
